 <%- include('./include/head') %>  
<body>
    <%- include('./include/nav') %>
    <div class="home_presentation">
    <h1 class="bonjour">Bonjour</h1>
    <br>
    <h2 class="bienvenue">Bienvenue Dans</h2>
    <br>
    <img class="home_logo" src="/img/Groupomania Logos (update 2022)/color_logo.png" alt="">
    </div>
</body>
</html>