<%- include('./include/head.ejs') %>

<section class="connexion">

  <%- include('./include/nav') %>

  <form action="http://localhost:8080/api/login" method="put" id="login">

    <div class="connexion2">

      <label class="titre" for="Email"></label>

      <input class="titre" type="Email" id="Email" name="Email" placeholder="Email"><br>

      <label class="titre" for="Password"></label>

      <input class="titre" type="Password" id="Password" name="Password" placeholder="Password">

      <button class="button_connexion" type="submit" value="Se connecter" id="Se-connecter">Se connecter</button>

      <div class="textgris">Mot de passe oublié?</div>

      <div class="textgris">Vous n'avez pas de compte?</div>

      <a href="register">Inscrivez-vous</a>

    </div>

  </form>

  <footer></footer>

</section>

<script type="text/javascript" src=""></script>

</body>

</html>