<nav>
    <div class="nav_left">
        <img src="" alt="logo">
    </div>
    <div class="nav_right ">
        <button class="nav_button">register</button>
        <button class="nav_button">login</button>
    </div>
</nav>