<nav>
  <div class="nav_left">
    <a href="/">
      <img
        class="nav_img"
        src="/img/Groupomania Logos (update 2022)/color_logo.png"
        alt="logo"
      />
    </a>
  </div>
  <div class="nav_right">
    <a href="/profil"><button class="nav_button">Profil</button></a>
    <a href="/"><button class="nav_button">Logout</button></a>
  </div>
</nav>
