<nav>
    <div class="nav_left">
        <a href="/">
        <img class="nav_img" src="/img/Groupomania Logos (update 2022)/color_logo.png" alt="logo">
    </a>        
    </div>
    <div class="nav_right ">
        <a href="/register"><button class="nav_button" >Register</button></a>
        <a href="/login"><button class="nav_button" >Login</button></a>
    </div>
</nav>